<!doctype html>
<%- include('partials/head') %>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary p-0">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Azbouki Software Ltd.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link" id="logout">Изход</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
  <main>

    <section class="container">
      <div class="title">Админ Панел</div>
      <div class="row flex justify-content-center">
        <div class="col-12 col-md-4 text-center">
          
        </div>
      </div>
    </section>
  </main>
  <%- include('partials/footer') %>
  <%- include('partials/scripts') %>
</body>
</html>