<footer>
    <div class="footer-container">
        <p>&copy; <%= new Date().getFullYear();%> Azbouki Software Ltd. All Rights Reserved<br><a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
</footer>