<html lang="bg">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Azbouki Base App">
  <meta name="author" content="Azbouki Software Ltd.">
  <title>Azbouki App</title>
  <link rel="icon" type="image/x-icon"
    href="https://i1.wp.com/numicoins.eu/wp-content/uploads/2021/08/cropped-shutterstock_318931085-2.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/cookieconsent.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <script src="/assets/js/external/jquery-3.3.1.min.js"></script>
  <script src="/assets/js/external/bootstrap.bundle.min.js"></script>
</head>